<a href="https://colab.research.google.com/github/ivalozkaMIIGAiK/informatika_10/blob/main/%D0%A0%D0%B0%D0%B7%D0%B4%D0%B5%D0%BB_%E2%84%963_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5_%D1%82%D0%B8%D0%BF%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Раздел №3. Основные типы данных в Python**

Теперь, когда мы умеем выводить и получать данные, давайте познакомимся с основными типами данных.

**Все типы данных** в Python относятся к одной из **2-х категорий**: **изменяемые (mutable)** и **неизменяемые (immutable)**.   

*Неизменяемые объекты*:  

- **int**: целые числа
- **float**: числа с плавающей точкой
- **str**: строки (текст)
- **bool**: логические значения
- **None**: специальное значение отсутствия данных
- **tuple**: кортежи (упорядоченные неизменяемые коллекции)

*Изменяемые объекты*:  

- **list**: списки (упорядоченные изменяемые коллекции)
- **set**: множества (неупорядоченные коллекции уникальных элементов)
- **dict**: словари (коллекции пар "ключ-значение")

**Важно:** Изменяемость объектов определяет, может ли объект такого типа выступать в качестве ключа для словарей (dict). Только неизменяемые типы могут быть ключами словаря.

Давайте подробно рассмотрим каждый тип, приведем примеры и задачи для практики.

---

### **Целые числа (`int`)**

**int** представляет собой целые числа без дробной части.

#### Пример использования:

In [1]:
age = 25
print("Ваш возраст:", age)
print("Тип переменной:", type(age))

Ваш возраст: 25
Тип переменной: <class 'int'>

**Зачем это нужно?**

Целые числа используются для подсчета, определения количества предметов, работы с порядковыми номерами и многого другого.

#### Арифметические операции с int:

In [ ]:
a = 4 + 5       # сложение
b = 4 * 5       # умножение
c = 5 // 4      # целочисленное деление
d = 5 / 4       # обычное деление (результат float)
e = 5**4        # возведение в степень
f = 5 % 4       # остаток от деления

print(a, b, c, d, e, f)

9 20 1 1.25 625 1

#### Работа с большими числами:

Python отлично работает с большими числами без переполнения (в отличие от языков типа C++):

In [ ]:
x = 5 * 1000000000 * 1000000000 * 10**9 + 1
print(x)
print("Тип:", type(x))

5000000000000000000000000001
Тип: <class 'int'>

#### Задача для практики:

**Задание:** Попросите пользователя ввести количество яблок и количество апельсинов. Затем выведите общее количество фруктов.

##### **Решение:**

In [ ]:
apples = int(input("Сколько у вас яблок? "))
oranges = int(input("Сколько у вас апельсинов? "))
total_fruits = apples + oranges
print("Всего фруктов:", total_fruits)

**Объяснение:** Здесь мы используем функцию `int()` для преобразования введенных строк в целые числа, чтобы можно было выполнить математическую операцию сложения.

---

### **Числа с плавающей точкой (`float`)**

**float** предназначен для представления чисел с дробной частью.

#### Пример использования:

In [ ]:
height = 1.75
print("Ваш рост:", height, "метров")
print("Тип переменной:", type(height))

Ваш рост: 1.75 метров
Тип переменной: <class 'float'>

**Зачем это нужно?**

Числа с плавающей точкой используются для измерений и расчетов с дробными числами, таких как вес, рост, расстояние и т.д.

#### Преобразование между int и float:

In [ ]:
a = 5
print(a, type(a))
a = float(a)  # преобразование int в float
print(a, type(a))

5 <class 'int'>
5.0 <class 'float'>

#### Задача для практики:

**Задание:** Попросите пользователя ввести расстояние в километрах и преобразуйте его в мили (1 километр ≈ 0.6214 мили). Выведите результат.

##### **Решение:**

In [ ]:
kilometers = float(input("Введите расстояние в километрах: "))
miles = kilometers * 0.6214
print("Расстояние в милях:", miles)

**Объяснение:** Мы преобразуем введенную строку в число с плавающей точкой и рассчитываем эквивалентное расстояние в милях.

---

### **Полезные встроенные функции Python: `round()`, `ceil()`, `floor()` и другие**

#### **Встроенные функции Python**

**Встроенные функции** в Python — это функции, которые доступны по умолчанию, без необходимости их импорта из модулей. Они облегчают выполнение распространенных задач и делают код более лаконичным и читаемым.

#### **Функция `round()`**

##### Описание

Функция **`round()`** используется для округления числа до заданного количества знаков после запятой.

##### Синтаксис

In [ ]:
round(number, ndigits)

- **`number`** — число, которое нужно округлить.
- **`ndigits`** *(необязательный)* — количество знаков после запятой, до которого нужно округлить. Если не указано, округляет до целого числа.

##### Примеры использования

In [ ]:
# Округление до ближайшего целого числа
print(round(3.14159))       # Вывод: 3

# Округление до 2 знаков после запятой
print(round(3.14159, 2))    # Вывод: 3.14

# Округление отрицательного числа
print(round(-2.71828))      # Вывод: -3

3
3.14
-3

##### Особенности

- При округлении числа, оканчивающегося на `.5`, функция `round()` округляет до ближайшего чётного числа.

In [ ]:
print(round(2.5))    # Вывод: 2
print(round(3.5))    # Вывод: 4

2
4

**Объяснение:**

- Это связано с методом округления "до чётного" (banker's rounding), который помогает снизить систематическую ошибку при округлении большого количества чисел.

#### Функции `math.ceil()` и `math.floor()`

Для использования функций **`ceil()`** и **`floor()`** необходимо импортировать модуль `math`.

In [ ]:
import math

### **Функция `math.ceil()`**

- **Описание:** Возвращает наименьшее целое число, которое не меньше заданного числа (округление вверх).

#### Синтаксис

In [ ]:
math.ceil(number)

#### Примеры использования

In [ ]:
import math

print(math.ceil(3.14159))   # Вывод: 4
print(math.ceil(-2.71828))  # Вывод: -2

4
-2

### **Функция `math.floor()`**

- **Описание:** Возвращает наибольшее целое число, которое не больше заданного числа (округление вниз).

#### Синтаксис

In [ ]:
math.floor(number)

#### Примеры использования

In [ ]:
import math

print(math.floor(3.14159))   # Вывод: 3
print(math.floor(-2.71828))  # Вывод: -3

3
-3

#### **Другие полезные математические функции**

##### **Функция `abs()`**

- **Описание:** Возвращает модуль (абсолютное значение) числа.

##### Пример

In [ ]:
print(abs(-10))     # Вывод: 10
print(abs(3.14))    # Вывод: 3.14

10
3.14

##### **Функция `pow()`**

- **Описание:** Возводит число в степень.

###### Синтаксис

In [ ]:
pow(base, exp)

###### Пример

In [ ]:
print(pow(2, 3))    # Вывод: 8 (2 в степени 3)

8

##### **Функция `divmod()`**

- **Описание:** Возвращает кортеж из частного и остатка от деления.

###### Синтаксис

In [ ]:
divmod(a, b)

In [ ]:
print(divmod(17, 3))   # Вывод: (5, 2)

(5, 2)

##### **Функции `min()` и `max()`**

- **Описание:** Возвращают наименьшее и наибольшее значение соответственно из переданных аргументов или итерируемого объекта.

#### **Пример**

In [ ]:
numbers = [5, 2, 9, 1, 7]
print(min(numbers))    # Вывод: 1
print(max(numbers))    # Вывод: 9

### **Строки (`str`)**

**str** используется для хранения текстовой информации.

#### Пример использования:

In [ ]:
greeting = "Здравствуйте"
print(greeting)
print("Тип:", type(greeting))

Здравствуйте
Тип: <class 'str'>

**Зачем это нужно?**

Строки позволяют работать с текстом: именами, сообщениями, описаниями и т.д.

#### Задача для практики:

**Задание:** Попросите пользователя ввести свое имя и фамилию. Затем выведите сообщение с их полным именем.

##### **Решение:**

In [ ]:
first_name = input("Введите ваше имя: ")
last_name = input("Введите вашу фамилию: ")
full_name = first_name + " " + last_name
print("Ваше полное имя:", full_name)

In [ ]:
first_name = input("Введите ваше имя: ")
last_name = input("Введите вашу фамилию: ")

year = 2025 - int(input("Введите Ваш возраст: "))

full_name = first_name + " " + last_name
print("Ваше полное имя:", full_name, "\nВы родились в", 2025-age, 'или', 2025 - age - 1, 'году.')

print("Ваше полное имя: " + full_name + "\nВы родились в " + str(2025-age) + ' или '+ str(2025 - age - 1) + ' году.')


print(f'Ваше полное имя: {full_name}\nВы родились в {year} или {year-1} году.')

Введите ваше имя: Иван
Введите вашу фамилию: Иванов
Введите Ваш возраст: 25
Ваше полное имя: Иван Иванов
Вы родились в 1998 или 1997 году.
Ваше полное имя: Иван Иванов
Вы родились в 1998 или 1997 году.
Ваше полное имя: Иван Иванов
Вы родились в 2000 или 1999 году.

**Объяснение:** Мы объединяем строки с помощью оператора `+` и добавляем пробел между именем и фамилией.

---

### **Специальное значение *`None`**

**None** означает отсутствие значения.

#### Пример использования:

In [ ]:
result = None
print("Результат до вычисления:", result)
print("Тип:", type(result))

Результат до вычисления: None
Тип: <class 'NoneType'>

**Зачем это нужно?**

Используется для инициализации переменных, которые еще не получили значение, или для обозначения отсутствия данных.

**Важно:** None нельзя привести к другим типам данных. Проверить на None можно с помощью оператора `is`:

In [ ]:
if result is None:
    result = 'Теперь у меня есть значение!'
print(result)

Теперь у меня есть значение!

In [ ]:
a = 1
b = 1

print(hex(id(a)), hex(id(b)))

print(a == b)
print(a is b)

b = 2

print(hex(id(a)), hex(id(b)))

0xb1a4e8 0xb1a4e8
True
True
0xb1a4e8 0xb1a508

#### Задача для практики:

**Задание:** Создайте переменную `user_data` и присвойте ей значение `None`. Затем попросите пользователя ввести данные и присвойте их переменной `user_data`. Выведите значение переменной до и после ввода данных.

##### **Решение:**

In [ ]:
user_data = None
print("До ввода данных:", user_data)
user_data = input("Введите какие-нибудь данные: ")
print("После ввода данных:", user_data)

**Объяснение:** Мы показываем, что переменная изначально не имеет значения, а затем присваиваем ей введенные пользователем данные.

---

### **Строки (`str`) в Python и их основные методы**

#### Что такое строки в Python?

**Строка** — это **последовательность символов**, используемая для хранения и обработки текстовых данных. В Python строки являются **неизменяемыми** последовательностями, то есть после создания строки вы не можете изменить её содержимое. Однако вы можете создавать новые строки на основе существующих, используя различные методы и операции.

#### Создание строк

Строки можно создавать, заключая текст в одинарные `' '`, двойные `" "`, тройные одинарные `''' '''` или тройные двойные кавычки `""" """`.

#### Примеры:

In [ ]:
# Одинарные кавычки
my_str1 = 'Привет, мир!'

# Двойные кавычки
my_str2 = "Python — удивительный язык!"

# Тройные кавычки (для многострочных строк)
my_str3 = '''Это многострочная строка.
Она занимает несколько строк.'''

my_str4 = """И это тоже
многострочная строка."""

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

---

In [2]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [6]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

#### **Основные операции со строками**

##### 1. Конкатенация (сложение строк)

Вы можете объединять строки с помощью оператора `+`.

In [ ]:
str1 = "Hello, "
str2 = "world!"
result = str1 + str2
print(result)  # Вывод: Hello, world!

Hello, world!

##### 2. Повторение строк

Оператор `*` позволяет повторять строку заданное количество раз.

In [ ]:
str3 = "Ha"
laugh = str3 * 5
print(laugh)  # Вывод: HaHaHaHaHa

HaHaHaHaHa

##### 3. Доступ к символам и срезам

###### Индексация

Получение символа по его индексу (начиная с 0).

In [ ]:
my_str = "Python"
print(my_str[0])  # Вывод: P
print(my_str[3])  # Вывод: h

P
h

###### Срезы (substring)

Получение подстроки из строки.

In [ ]:
substring = my_str[1:4]  # Символы с индекса 1 до 3
print(substring)  # Вывод: yth

yth

###### Отрицательные индексы

Используются для доступа к символам с конца строки.

In [ ]:
print(my_str[-1])  # Вывод: n
print(my_str[-3:])  # Вывод: hon

n
hon

In [ ]:
my_str = "Python"

##### 4. Проверка вхождения подстроки

In [ ]:
s = 'ya stroka'
if 'ya' in s:
    print("Подстрока найдена!")

In [ ]:
my_str = "Python"

---

#### **Основные методы строк**

Строки в Python имеют множество встроенных методов, которые позволяют выполнять различные операции. Рассмотрим наиболее часто используемые.

##### **1. Изменение регистра**

###### `.upper()`

Преобразует все символы строки в верхний регистр.

In [ ]:
text = "Hello, World!"
print(text.upper())  # Вывод: HELLO, WORLD!

HELLO, WORLD!

###### `.lower()`

Преобразует все символы строки в нижний регистр.

In [ ]:
print(text.lower())  # Вывод: hello, world!

hello, world!

###### `.capitalize()`

Преобразует первый символ строки в верхний регистр, остальные — в нижний.

In [ ]:
print(text.capitalize())  # Вывод: Hello, world!

Hello, world!

###### `.title()`

Преобразует первые буквы всех слов в строке в верхний регистр.

In [ ]:
print(text.title())  # Вывод: Hello, World!

Hello, World!

##### **2. Удаление пробельных символов**

###### `.strip()`

Удаляет пробельные символы в начале и в конце строки.

In [ ]:
text_with_spaces = "   Python   "
print(text_with_spaces.strip())  # Вывод: Python

Python

###### `.lstrip()`

Удаляет пробелы в начале строки.

In [ ]:
print(text_with_spaces.lstrip())  # Вывод: Python   "

Python

###### `.rstrip()`

Удаляет пробелы в конце строки.

In [ ]:
print(text_with_spaces.rstrip())  # Вывод: "   Python"

   Python

##### **3. Поиск и замена**

###### `.find(substring)`

Возвращает индекс первого вхождения подстроки. Если подстрока не найдена, возвращает `-1`.

In [ ]:
sentence = "Learning Python is fun!"
index = sentence.find("Python")
print(index)

9

###### `.index(substring)`

Как и `.find()`, но вызывает ошибку `ValueError`, если подстрока не найдена.

In [ ]:
index = sentence.index("Python")
index

9

In [ ]:
try:
    index = sentence.index("Java")
except ValueError:
    print("Подстрока не найдена")

Подстрока не найдена

###### `.count(substring)`

Подсчитывает число вхождений заданной подстроки.

In [ ]:
text = "Hello, World! Hello, Python!"
print(text.count("Hello"))

2

###### `.replace(old, new)`

Заменяет все вхождения подстроки `old` на подстроку `new`.

In [ ]:
new_sentence = sentence.replace("fun", "awesome")
print(new_sentence)

Learning Python is awesome!

##### **4. Проверка содержания**

###### `.startswith(substring)`

Проверяет, начинается ли строка с указанной подстроки.

In [ ]:
print(sentence.startswith("Learning"))

True

###### `.endswith(substring)`

Проверяет, заканчивается ли строка на указанную подстроку.

In [ ]:
print(sentence.endswith("fun!"))

True

##### **5. Разделение и объединение строк**

###### `.split(separator)`

Разделяет строку на список подстрок по заданному разделителю.

In [ ]:
words = sentence.split()
print(words)

['Learning', 'Python', 'is', 'fun!']

In [ ]:
# Разделение по другому символу
coords = "125.25;25.7;74.1"
coord_list = coords.split(';')
print(coord_list)

['125.25', '25.7', '74.1']

###### `.join(iterable)`

Объединяет элементы итерируемого объекта в строку, используя текущую строку как разделитель.

In [ ]:
words

['Learning', 'Python', 'is', 'fun!']

In [ ]:
hyphenated = " ".join(words)
print(hyphenated)

Learning Python is fun!

In [ ]:
# Объединение координат через запятую
new_coords = ",".join(coord_list)
print("Координаты:", new_coords)

Координаты: 125.25,25.7,74.1

##### 6. Проверка типа символов

###### `.isalnum()`

Возвращает `True`, если строка состоит из буквенно-цифровых символов.

In [ ]:
code = "ABC123abc"
print(code.isalnum())

True

###### `.isalpha()`

Возвращает `True`, если строка состоит только из букв.

In [ ]:
name = "Alice"
print(name.isalpha())

True

###### `.isdigit()`

Возвращает `True`, если строка состоит только из цифр.

In [ ]:
number = "12345"
print(number.isdigit())

False

###### `.isspace()`

Проверяет, состоит ли строка только из пробельных символов.

In [ ]:
spaces = "   "
print(spaces.isspace())

True

###### `.islower()` и `.isupper()`

Проверяют регистр символов.

In [ ]:
print("hello".islower())
print("HELLO".isupper())

True
True

##### **7. Длина строки**

###### `len(string)`

Функция `len()` возвращает количество символов в строке.

In [ ]:
print(len(sentence))

23

##### **8. Форматирование строк**

###### F-строки (форматированные строковые литералы)

С версии Python 3.6 можно использовать выражения внутри строк с префиксом `f`.

In [ ]:
name = 'Иван'
age = 30

info = f"Меня зовут {name} и мне {age} лет."
print(info)

Меня зовут Иван и мне 30 лет.

---

#### **Практические задания**

##### Задание 1: Переворот строки

**Задача:** Напишите программу, которая запрашивает у пользователя строку и выводит ее в обратном порядке.

##### **Решение:**

In [ ]:
text = input("Введите строку: ")
reversed_text = text[::-1]
print("Перевернутая строка:", reversed_text)

##### Задание 2: Подсчет гласных букв

**Задача:** Напишите функцию `count_vowels(text)`, которая принимает строку и возвращает количество гласных букв в ней.

##### **Решение:**

In [ ]:
def count_vowels(text):
    vowels = "аеёиоуыэюяAEЁИОУЫЭЮЯaeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count

input_text = input("Введите строку: ")
vowel_count = count_vowels(input_text)
print("Количество гласных букв:", vowel_count)

##### Задание 3: Проверка палиндрома

**Задача:** Напишите программу, которая проверяет, является ли введенная строка палиндромом (читается одинаково слева направо и справа налево).

##### **Решение:**

In [ ]:
def is_palindrome(text):
    text = text.replace(" ", "").lower()
    return text == text[::-1]

input_text = input("Введите строку: ")
if is_palindrome(input_text):
    print("Это палиндром.")
else:
    print("Это не палиндром.")

##### Задание 4: Уникальные символы

**Задача:** Напишите программу, которая выводит количество уникальных символов в строке.

##### **Решение:**

In [ ]:
text = input("Введите строку: ")
unique_chars = set(text)
print("Количество уникальных символов:", len(unique_chars))

### **Тип данных Bool  и операторы сравнения в Python**

#### Что такое логический тип `bool`?

В Python логический тип **`bool`** представляет два значения: **`True`** (истина) и **`False`** (ложь). Эти значения используются для проверки условий и управления потоком выполнения программы.

##### Пример:

In [ ]:
is_sunny = True
has_umbrella = False
print(type(is_sunny))  # Вывод: <class 'bool'>

<class 'bool'>

##### Связь bool с int:

В Python существует связь между типами `bool` и `int`:
- `True` соответствует значению 1
- `False` соответствует значению 0

In [ ]:
print(int(True))   # Вывод: 1
print(int(False))  # Вывод: 0

# Можно выполнять арифметические операции
print(True + True)   # Вывод: 2
print(True + False)  # Вывод: 1
print(False + False) # Вывод: 0

1
0
2
1
0

#### Операторы сравнения

**Операторы сравнения** используются для сравнения значений и возвращают логический результат **`True`** или **`False`**.

##### Основные операторы сравнения:

- **`==`**: равно
- **`!=`**: не равно
- **`>`**: больше
- **`<`**: меньше
- **`>=`**: больше или равно
- **`<=`**: меньше или равно

#### Примеры использования операторов сравнения:

In [ ]:
a = 5
b = 10

print(a == b)   # Вывод: False
print(a != b)   # Вывод: True
print(a > b)    # Вывод: False
print(a < b)    # Вывод: True
print(a >= 5)   # Вывод: True
print(b <= 20)  # Вывод: True

# Результат сравнения можно сохранить в переменную
result = (2 == 3)
print(result, type(result))  # Вывод: False <class 'bool'>

False
True
False
True
True
True
False <class 'bool'>

**Важно:** Не путайте оператор присваивания **`=`** и оператор сравнения **`==`**. **`=`** используется для присвоения значения переменной, а **`==`** для сравнения значений.

### **Логические операторы**

**Логические операторы** позволяют комбинировать несколько условий и возвращают **`True`** или **`False`** в зависимости от логики выражения.

#### Основные логические операторы:

- **`and`**: логическое **И**
  - Возвращает **`True`**, если **оба** условия истинны.
- **`or`**: логическое **ИЛИ**
  - Возвращает **`True`**, если **хотя бы одно** условие истинно.
- **`not`**: логическое **НЕ**
  - Инвертирует логическое значение.

In [ ]:
a = 5
b = 10
c = 20

print((a > b) and (a < c))   # Вывод: False
print((a > b) or (a < c))    # Вывод: True
print(not(a == b))           # Вывод: True

# Примеры с bool значениями
print(True and False)  # Вывод: False
print(True or False)   # Вывод: True
print(not False)       # Вывод: True

# Более сложные выражения (используйте скобки для порядка выполнения)
x = True
y = False
z = x or (x and not y)
print(z)  # Вывод: True

---